<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hg.mapper.BokeDao">
    <!--<cache type="com.hg.cache.MyCache"></cache>-->
    <select id="queryMany" resultType="Boke">
        SELECT id,titel,content,time FROM boke limit #{start},#{rows}
    </select>
    <!--查询所有-->
    <select id="queryAll" resultType="Boke">
        SELECT id,titel,content,time FROM boke
    </select>
</mapper>